html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, canvas, details, embed, 
footer, header, hgroup, 
menu, nav, output, ruby, section,
mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

:root {
    --color-black: #000;
    --color-white: #FFF;
}

body, html {
    background-color: var(--color-black);
    color: var(--color-white);
}

.messagePane {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messagePane-data {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.messagePane-message {
    text-align: center;
}

.messagePane-toolbar {
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 0;
    opacity: 0;
    transition: opacity .3s ease-out;
    padding: 1rem;
}

.messagePane:hover
.messagePane-toolbar {
    opacity: 1;
}